.your-chat-item{
    margin-bottom: 10px;
    float: left;
    clear: both;
    .avatar{
        display: inline-block;
        margin: 0 10px!important;
    }
    .user_chat{
        margin: 5px 10px;
        color: #4392F1!important;
        font-style: italic;
    }
    .your-chat-info{
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;
        border: 1px solid white;
        background-color: white;
        box-shadow: 1px 1px 1px grey;
        // max-width: 75%;
        .your-chat-content{
            white-space: pre-line;
            padding: 10px;
        }
        .your-chat-time{
            margin: 10px;
            color: #808b8c;
            font-style: italic;
            font-size: 10px;
        }
    }
}


.my-chat-item{
    margin-bottom: 10px;
    // float: right;
    clear: both;
    text-align: right;
    .avatar{
        display: inline-block;
        margin: 0 10px!important;
    }

    .my-chat-info{
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;
        max-width: 75%;
        border: 1px solid #1584f7;
        background-color: #4392F1;
        box-shadow: 1px 1px 1px grey;

        .my-chat-content{
            text-align: left;
            // margin: 10px ;
            padding: 10px;
            white-space: pre-line;
            color: white;
        }
        .my-chat-time{
            margin: 10px;
            color: #808b8c;
            font-style: italic;
            font-size: 10px;
        }
    }
}