.ant-layout-content{

    background-image: radial-gradient(circle, #ced0da52, #ced0dab5, #ced0da)!important;
    .chat-content{
    min-height: 360px;
    padding: 24px!important;
}}

#chat-content{
    overflow: auto!important; 
}