.login-registration-form{
    max-width: 470px;
    margin: auto!important;
    min-height: 280px;
    border: 1px solid #eaf1ff;
    margin-top: 100px!important;
    border-radius: 5px;
    box-shadow: 1px 1px #888888;
}